@model ViewModels.CartViewModel
@{
    ViewBag.Title = "سبد خرید";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>سبد خرید</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
					<li class="breadcrumb-item active">سبد خرید</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="main_content">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="table-responsive shop_cart_table">
						<table class="table">
							<thead>
								<tr>
									<th class="product-thumbnail">&nbsp;</th>
									<th class="product-name">محصول</th>
									<th class="product-price">قیمت</th>
									<th class="product-quantity">تعداد</th>
									<th class="product-subtotal">جمع مبلغ</th>
									<th class="product-remove">حذف</th>
								</tr>
							</thead>
							<tbody>
							
							@foreach (var product in Model.Products)
							{
									<tr>
										<td class="product-thumbnail"><a href="#"><img src="@product.Product.ImageUrl" alt="رنگ خوشدست" height="100px"></a></td>
										<td class="product-name" data-title="Product"><a href="#">@product.Product.Title</a></td>
										<td class="product-price" data-title="Price">@product.Amount</td>
										<td class="product-quantity" data-title="Quantity">
											<div class="quantity">
												<input type="button" value="-" class="minus">
												<input type="text" name="quantity" value="@product.Quantity" title="Qty" class="qty" size="4">
												<input type="button" value="+" class="plus">
											</div>
										</td>
										<td class="product-subtotal" data-title="Total">@product.RowAmount</td>
										<td class="product-remove" data-title="Remove"><a href="/Basket/remove/@product.Product.Code"><i class="ti-close"></i></a></td>
									</tr>
							}
								
				

							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="px-0">
										<div class="row no-gutters align-items-center">

											<div class="col-lg-4 col-md-6 mb-3 mb-md-0">
												<div class="alert alert-danger" id="errorDiv-discount"></div>
												<div class="alert alert-danger" id="SuccessDiv-discount">کد تخفیف با موفقیت اعمال شد.</div>
											
												<div class="coupon field_form input-group">
													<input type="text" id="coupon" class="form-control form-control-sm" placeholder="کد تخفیف">
													<div class="input-group-append">
														<button class="btn btn-fill-out btn-sm" type="button" onclick="addDiscountCode();">ثبت کد تخفیف</button>
													</div>
												</div>
											</div>
											<div class="col-lg-8 col-md-6 text-left text-md-right">
												<button class="btn btn-line-fill btn-sm" type="submit">به روزرسانی سبد خرید</button>
											</div>
										</div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="medium_divider"></div>
					<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
					<div class="medium_divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="border p-3 p-md-4">
						<div class="heading_s1 mb-3">
							<h6>جمع خرید</h6>
						</div>
						<div class="table-responsive">
							<table class="table">
								<tbody>
								<tr>
									<td class="cart_total_label">مبلغ قاکتور</td>
									<td class="cart_total_amount">@Model.SubTotal</td>
								</tr>
								<tr>
									<td class="cart_total_label">تخفیف</td>
									<td class="cart_total_amount">@Model.DiscountAmount</td>
								</tr>
								<tr>
									<td class="cart_total_label">مبلغ قابل پرداخت</td>
									<td class="cart_total_amount"><strong>@Model.Total</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
						<a href="/checkout" class="btn btn-fill-out">تکمیل خرید و پرداخت</a>
					</div>
				</div>

				<div class="col-md-6">
					<div class="border p-3 p-md-4">
						<div class="heading_s1 mb-3">
							<h6>قوانین خرید</h6>
						</div>
						<div class="table-responsive">
						@Html.Raw(Model.Policy.Body)
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
 
</div>