@model ViewModels.AdminDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}
<style>
    .dashboard-card {
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
    }

        .dashboard-card h2 {
            color: #000;
            font-size: 24px;
        }

        .dashboard-card p {
            color: #000;
            font-size: 16px;
        }

    .dashboard-card-color1 {
        background-color: #f3ebeb;
    }

    .dashboard-card-color2 {
        background-color: #c6ef94;
    }

    .dashboard-card-color3 {
        background-color: #C6DAE3;
    }

    .dashboard-card-color4 {
        background-color: #c8b4b4;
    }

    .dashboard-card-color5 {
        background-color: #789558;
    }

    .dashboard-card-color6 {
        background-color: #53A1C5;
    }
</style>

<h2>داشبورد</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color1">
                <h2>
                    @Model.TotalProduct
                </h2>
                <p>
                    تعداد کل محصولات
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color2">
                <h2>
                    @Model.CurrentOrderCount
                </h2>
                <p>
                    تعداد سفارشات جاری
                </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color3">
                <h2>
                    @Model.TotalOrderCount
                </h2>
                <p>
                    تعداد سفارشات کل
                </p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color4">
                <h2>
                    @Model.TotalOrderCountThisMount
                </h2>
                <p>
                    تعداد سفارشات ماه جاری
                </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color5">
                <h2>
                    @Model.TotalOrderAmountThisMount
                </h2>
                <p>
                    مبلغ سفارشات ماه جاری
                </p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-card dashboard-card-color6">
                <h2>
                    @Model.TotalBlog
                </h2>
                <p>
                    تعداد مقالات
                </p>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>سفارشات 10 روز اخیر</h4>
        </div>
        <div class="panel-body">

            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <td>ردیف</td>
                        <td>
                            تاریخ
                        </td>
                        <td>
                            تعداد کل
                        </td>
                        <td>
                            مبلغ کل
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.RecentOrders)
                    {

                        <tr>
                            <td>@Convert.ToInt16(Model.RecentOrders.IndexOf(order) + 1)</td>
                            <td>@order.CreationDate</td>
                            <td>@order.TotalCount</td>
                            <td>@order.TotalAmount</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>