@model ViewModels.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="رنگ خوشدست">

	<!-- SITE TITLE -->
	<title>رنگ خوشدست</title>
	<!-- Favicon Icon -->
	@*<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">*@
	<!-- Animation CSS -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/linearicons.css">
	<link rel="stylesheet" href="/assets/css/flaticon.css">
	<link rel="stylesheet" href="/assets/css/simple-line-icons.css">
	<!--- owl carousel CSS-->
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- Slick CSS -->
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	<!-- RTL CSS -->
	<link href="~/assets/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/rtl-style.css">
	<link href="~/assets/css/style-zavosh.css" rel="stylesheet" />
</head>

<body dir="rtl">

	<!-- LOADER -->
	<div class="preloader">
		<div class="lds-ellipsis">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	
@Html.Partial("FrontEnd/_MenuPartial")


<div class="staggered-animation-wrap">
		<div class="custom-container">
			<div class="row">
				<div class="col-lg-9">
					<div class="banner_section shop_el_slider">
						<div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
							<div class="carousel-inner">
								

								@**@
								
								@{
										int j = 0;
										foreach (var slider in Model.Sliders)
										{
											if (j == 0)
											{
												<div class="carousel-item active background_bg" data-img-src="@slider.ImageUrl">
													<div class="banner_slide_content banner_content_inner">
														<div class="col-lg-7 col-10">
															<div class="banner_content3 overflow-hidden">
																<h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s">@slider.Summery</h5>
																<h2 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">@slider.Title</h2>
																<a class="btn btn-fill-out btn-radius staggered-animation" href="@slider.LandingPage" data-animation="slideInRight" data-animation-delay="1.5s">@slider.LinkTitle</a>
															</div>
														</div>
													</div>
												</div>
											}
											else
											{
												<div class="carousel-item background_bg" data-img-src="@slider.ImageUrl">
													<div class="banner_slide_content banner_content_inner">
														<div class="col-lg-8 col-10">
															<div class="banner_content3 overflow-hidden">
																<h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s">@slider.Summery</h5>
																<h2 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">@slider.Title</h2>
																<a class="btn btn-fill-out btn-radius staggered-animation" href="@slider.LandingPage" data-animation="slideInRight" data-animation-delay="1.5s">@slider.LinkTitle</a>
															</div>
														</div>
													</div>
												</div>
											}
											j++;
										}
								}
							</div>
							<ol class="carousel-indicators indicators_style3">
								@for (int i = 0; i < Model.SliderQuantity; i++)
								{
									if (i == 0)
									{
										<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>

									}
									else
									{
												<li data-target="#carouselExampleControls" data-slide-to="@i"></li>

									}
								}
							</ol>
						</div>
					</div>
				</div>
				<div class="col-lg-3 pr0 d-none d-lg-block">
					<div class="shop_banner2 el_banner1">
						<a href="#" class="hover_effect1">
							<div class="el_title text_white">
								<h6>غلطک های طرح دار</h6>
								<span>15% تخفیف</span>
							</div>
							<div class="el_img">
								<img src="/assets/images/shop-banner-06.png" alt="shop_banner_img6">
							</div>
						</a>
					</div>
					<div class="shop_banner2 el_banner2">
						<a href="#" class="hover_effect1">
							<div class="el_title text_white">
								<h6>رنگ و ابزار هنری</h6>
								<span><u>مشاهده محصولات</u></span>
							</div>
							<div class="el_img">
								<img src="/assets/images/shop-banner-07.png" alt="shop_banner_img7">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
 
	 
	<div class="main_content">
		 
		<div class="section small_pb small_pt">
			<div class="container">
				@*<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s4 text-center">
							<h2>برترین گروه محصولات</h2>
						</div>
						<p class="text-center leads">لیست زیر برترین گروه محصولات رنگ خوشدست را مشاهده می کنید. برای مشاهده محصولات هر گروه بر روی آن کلیک کنید</p>
					</div>
				</div>*@
				<div class="row align-items-center">
					<div class="col-12">
						<div class="cat_slider cat_style1 mt-4 mt-md-0 carousel_slider owl-carousel owl-theme nav_style5" data-loop="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "576":{"items": "4"}, "768":{"items": "4"}, "991":{"items": "4"}, "1199":{"items": "4"}}'>
							
						@foreach (var productGroup in Model.HomeProductGroups)
						{
							<div class="item">
								<div class="categories_box">
									<a href="/category/@productGroup.UrlParam">
										<img src="@productGroup.ImageUrl" alt="@productGroup.Title" />
										<span>@productGroup.Title</span>
									</a>
								</div>
							</div>
						}
						 
						</div>
					</div>
				</div>
			</div>
		</div>
 
		<div class="section small_pt pb_20 bg-gray">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s3 text-center">
							<h2>جدیدترین محصولات</h2>
						</div>
						<div class="small_divider clearfix"></div>
					</div>
				</div>
				<div class="row shop_container">
					@foreach (var product in Model.NewestProducts)
					{
						<div class="col-lg-2 col-md-2  col-6">
							<div class="product text-center">
								<div>
									<a href="/product/@product.Code">
										<img src="@product.ImageUrl" alt="@product.Title">
									</a>
								</div>
								<div class="product_info">
									<h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
									<div class="product_price">
										@if (product.IsInPromotion)
										{
											<span class="price">@product.DiscountAmountStr</span>
											<del>@product.AmountStr</del>
}
										else
										{
												<span class="price">@product.AmountStr</span>
										}
									</div>
									<div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart-home" onclick="addToBasket('@product.Code','1');"><i class="icon-basket-loaded"></i>خرید</button></div>

								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	 
		<div class="section pb_20 small_pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="single_banner">
							<img src="/assets/images/furniture_banner1.jpg" alt="furniture_banner1">
							<div class="fb_info">
								<h5 class="single_bn_title1">انواع غلطک های تکسچر</h5>
								<h3 class="single_bn_title">فروش ویژه</h3>
								<a href="#" class="single_bn_link">مشاهده محصولات</a>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="single_banner">
							<img src="/assets/images/furniture_banner2.jpg" alt="furniture_banner2">
							<div class="fb_info2">
								<h3 class="single_bn_title">غلطک های ساده</h3>
								<h4 class="single_bn_title1">با تخفیفات ویژه</h4>
								<a href="#" class="single_bn_link">مشاهده محصولات</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="section small_pt pb_20 bg-gray">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s3 text-center">
							<h2>پرفروش ترین محصولات</h2>
						</div>
						<div class="small_divider clearfix"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="product_slider carousel_slider owl-carousel owl-theme nav_style4" data-loop="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "2"}, "481":{"items": "2"}, "768":{"items": "6"}, "1199":{"items": "6"}}'>
					 
							@foreach (var product in Model.BestSaleProducts)
							{
							<div class="item">
								<div class="product text-center">
									<div class="product_img">
										<a href="/product/@product.Code">
											<img src="@product.ImageUrl" alt="@product.Title">
										</a>
									 
									</div>
									<div class="product_info">
										<h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
										<div class="product_price">
											@if (product.IsInPromotion)
											{
												<span class="price">@product.DiscountAmountStr</span>
												<del>@product.AmountStr</del>
											}
											else
											{
												<span class="price">@product.AmountStr</span>
											}
										</div>
									 
									 
										<div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart-home" onclick="addToBasket('@product.Code','1');"><i class="icon-basket-loaded"></i>خرید</button></div>

									</div>
								</div>
							</div>
						}
						</div>
					</div>
				</div>
			</div>
		</div>
	

	<div class="section small_pt">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s3 text-center">
						<h2>برندها</h2>
					</div>
					<div class="small_divider clearfix"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="client_logo carousel_slider owl-carousel owl-theme" data-dots="false" data-margin="30" data-loop="true" data-autoplay="true" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "767":{"items": "4"}, "991":{"items": "5"}}'>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo1.png" alt="cl_logo"/>
							</div>
						</div>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo2.png" alt="cl_logo"/>
							</div>
						</div>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo3.png" alt="cl_logo"/>
							</div>
						</div>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo4.png" alt="cl_logo"/>
							</div>
						</div>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo5.png" alt="cl_logo"/>
							</div>
						</div>
						<div class="item">
							<div class="cl_logo">
								<img src="/assets/images/cl_logo6.png" alt="cl_logo"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

	<div class="section small_pt pb_20 bg-gray">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s3 text-center">
						<h2>@Model.TopProductGroupTitle</h2>
					</div>
					<div class="small_divider clearfix"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="product_slider carousel_slider owl-carousel owl-theme nav_style4" data-loop="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "2"}, "481":{"items": "2"}, "768":{"items": "6"}, "1199":{"items": "6"}}'>
						 
					@foreach (var product in Model.TopCategoryProducts)
					{
							<div class="item">
								<div class="product text-center">
									<div class="product_img">
										<a href="/product/@product.Code">
											<img src="@product.ImageUrl" alt="@product.Title">
										</a>
									 
									</div>
									<div class="product_info">
										<h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
										
											@if (product.IsInPromotion)
											{
												<div class="product_price">
												<span class="price">@product.DiscountAmountStr</span>
													<del>@product.AmountStr</del>
												</div>
											}
											else
											{
												<div class="product_price mb29">
												<span class="price ">@product.AmountStr</span>
												</div>
											}
									
									 
									 
										<div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart-home" onclick="addToBasket('@product.Code','1');"><i class="icon-basket-loaded"></i>خرید</button></div>

									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
		
		
		<div class="section pb_20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-8">
						<div class="heading_s1 text-center">
							<h2>آخرین اخبار و مقالات</h2>
						</div>
						<p class="leads text-center">در این بخش آخرین اخبار و مقالات وب سایت رنگ خوشدست را مشاهده می نمایید.</p>
					</div>
				</div>
				<div class="row justify-content-center">
					@foreach (var blog in Model.HomeBlogs)
					{
						<div class="col-lg-4 col-md-6">
							<div class="blog_post blog_style2 box_shadow1">
								<div class="blog_img">
									<a href="/blog/post/@blog.UrlParam">
										<img src="@blog.ImageUrl" alt="@blog.Title">
									</a>
								</div>
								<div class="blog_content bg-white">
									<div class="blog_text">
										<h5 class="blog_title"><a href="/blog/post/@blog.UrlParam">@blog.Title</a></h5>
										<ul class="list_none blog_meta">
											<li><a href="#"><i class="ti-calendar"></i> @blog.CreationDateStr</a></li>
											<li><a href="#"><i class="ti-eye"></i> @blog.Visit بازدید</a></li>
										</ul>
										<p>@blog.Summery</p>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
	 
@Html.Partial("FrontEnd/_FooterPartial")



	<!-- Latest jQuery -->
	<script src="/assets/js/jquery-1.12.4.min.js"></script>
	<!-- popper min js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- owl-carousel min js  -->
	<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
	<!-- magnific-popup min js  -->
	<script src="/assets/js/magnific-popup.min.js"></script>
	<!-- waypoints min js  -->
	<script src="/assets/js/waypoints.min.js"></script>
	<!-- parallax js  -->
	<script src="/assets/js/parallax.js"></script>
	<!-- countdown js  -->
	<script src="/assets/js/jquery.countdown.min.js"></script>
	<!-- imagesloaded js -->
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<!-- isotope min js -->
	<script src="/assets/js/isotope.min.js"></script>
	<!-- jquery.dd.min js -->
	<script src="/assets/js/jquery.dd.min.js"></script>
	<!-- slick js -->
	<script src="/assets/js/slick.min.js"></script>
	<!-- elevatezoom js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>
	<script src="~/Scripts/function.js"></script>
<script>
	$(document).ready(function () {
		var cookie = getCookie('basket-khoshdast');
		if (cookie != null) {
			var orderDetails = cookie.split('/');

			$('.cart_count').html(orderDetails.length - 1);
		} else {
			$('.cart_count').html('0');
		}
	});
</script>
</body>
</html>
