@model ViewModels.SearchViewModel
@{
		ViewBag.Title = "نتایج جستجو - "+Model.SearchQuery;
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-color: #E1D9DA">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-12">

				<div class="breadcrumb-custom">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
						<li class="breadcrumb-item "><a href="#">@ViewBag.Title</a></li>
					</ol>
				</div>

				<div class="page-title">
					<h1>@ViewBag.Title</h1>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="main_content bg-gray-list product-list-padding">



	<div class="section">
		<div class="container  container-custom">
			<div class="row search-box">
				<div class="col-lg-10 col-8">
					<input class="form-control form-control-sm" type="text" id="txtsearchpage" value="@Model.SearchQuery" />
				</div>
				<div class="col-lg-2 col-3">
					<button class="btn btn-border-fill" type="button" onclick="submitSearchForSearchPageResult();">جستجو</button>
				</div>
				</div>

			<div class="row">
				<div class="col-lg-9">

					<div class="row shop_container grid">
						@foreach (var product in Model.Products)
						{
							<div class="col-md-3 col-6">
								<div class="product">
									<div>
										<a href="/product/@product.Code">
											@if (File.Exists(Server.MapPath(product.ImageUrl)))
											{
												<img src="@product.ImageUrl" alt="@product.Title">
											}
											else
											{
												<img src="/assets/images/no-Photo.jpg" alt="رنگ خوشدست">
											}
										</a>

									</div>
									<div class="product_info">
										<h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
										<div class="product_price">
											@if (product.Amount == 0)
											{
												<span class="price">@System.Web.Configuration.WebConfigurationManager.AppSettings["CallForAmount"]</span>
											}
											else
											{
												 if (product.IsInPromotion)
												 {
													 <span class="price">@product.DiscountAmountStr</span>
													 <del>@product.AmountStr</del>
												 }
												 else
												 {
													 <span class="price">@product.AmountStr</span>
												 }
											}
										</div>

										 
										@if (product.Amount != 0 && product.Stock > 0)
										{
											<div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart" onclick="addToBasket('@product.Code', '1');"><i class="icon-basket-loaded"></i>خرید</button>
											</div>
										}
										else
										{
											<div class="add-to-cart"><button class="btn btn-addtocart btn-disable" onclick="addToBasket('@product.Code', '1');" disabled="disabled"><i class="icon-basket-loaded"></i>خرید</button>
											</div>
										}

									</div>
								</div>
							</div>
						}
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="pagination mt-3 justify-content-center pagination_style1">
								@foreach (var page in Model.PageItems)
								{
									if (page.IsCurrentPage)
									{

										<li class="page-item active"><a class="page-link" href="@ViewBag.url?searchquery=@Model.SearchQuery&pageid=@page.PageId">@page.PageId</a></li>

									}
									else
									{

										<li class="page-item"><a class="page-link" href="@ViewBag.url?searchquery=@Model.SearchQuery&pageid=@page.PageId">@page.PageId</a></li>


									}
								}
							</ul>
						</div>
					</div>

				</div>
				
				<div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
					<div class="sidebar">
						<div class="widget widjet-2">
							<h5 class="widget_title">گروه محصولات</h5>
							<ul class="widget_categories">
								@foreach (var productGroup in Model.SidebarProductGroups)
								{
									<li>
										<a onclick="showCollapse('@productGroup.ProductGroup.Id');">
											<span class="categories_name">@productGroup.ProductGroup.Title</span>
											<span class="categories_num">@productGroup.Quantity</span>
										</a>

										<ul id="@productGroup.ProductGroup.Id" class="collapse-detail-custom">
											@foreach (var childProductGroup in productGroup.ChildProductGroups)
											{
												<li class="child-group">
													<a href="/category/@childProductGroup.UrlParam">@childProductGroup.Title</a>
												</li>
											}
										</ul>
									</li>
								}
							</ul>
						</div>
 

						@foreach (var banner in Model.SidebarBanners)
						{
							<div class="widget widjet-2 sidebar-banner-item">
								<div class="shop_banner">

									<div class="banner_img">
										<a href="@banner.LinkUrl">
											<img src="@banner.ImageUrl" height="300" alt="@banner.ImageAlt">
										</a>
									</div>

								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

@section scripts{

	<script>
		
		var myTextBox = document.getElementById('txtsearchpage');
		myTextBox.addEventListener('keypress', function(e){
			if (e.keyCode === 13) {
				submitSearchForSearchPageResult();
			}
		});
		function showCollapse(id) {
			$('#' + id).slideToggle();
		}

		$(document).ready(function () {


			setSortLink();
			$('select#ddlsortby').on('change',
				'',
				function(e) {
					sortDdlChangeEvent($('select#ddlsortby').val());
				});
			$('#btnfilter').click(function() {
				var names = [];
				$('#list_brand input:checked').each(function() {
					names.push(this.name);
				});

				var qs = '';
				for (var i = 0; i < names.length; i++) {
					if (i === 0) {
						qs = '?brands[0]=' + names[0];
					} else {
						qs = qs + '&brands[' + i + ']=' + names[i];
					}
				}

				var url = window.location.href;
				var baseUrl = url.split('?')[0];

				window.location.href = baseUrl + qs;

			});
		});

		function setSortLink() {
			var url = window.location.href;

			setLink("newest", url);
			setLink("mostsell", url);
			setLink("cheapest", url);
			setLink("expensive", url);
			setLink("mostdiscount", url);

			setActiveSort("newest", url);
			setActiveSort("mostsell", url);
			setActiveSort("cheapest", url);
			setActiveSort("expensive", url);
			setActiveSort("mostdiscount", url);

		}

		function setLink(id, url) {
			url = removePreviousSortValFromUrl(url);

			if (url.includes('?')) {
				$("a#" + id).attr("href", url + "&sortby=" + id);
			} else {
				$("a#" + id).attr("href", url + "?sortby=" + id);
			}
		}

		function setActiveSort(id, url) {
			if (url.includes(id)) {
				$('.sortby').removeClass('active');
				$('#' + id).addClass('active');

				$('select#ddlsortby').val(id);
			}

		
		}

		function sortDdlChangeEvent(sortybyVal) {
			if (sortybyVal !== "sortby") {
				var url = window.location.href;

				url = removePreviousSortValFromUrl(url);

				if (url.includes('?')) {
					window.location = (url + "&sortby=" + sortybyVal);

				} else {
					window.location = (url + "?sortby=" + sortybyVal);
				}
			}
		}

		function removePreviousSortValFromUrl(url) {
			if (url.includes('?sortby')) {
				url = (url.split('?sortby')[0]);
			} else if (url.includes('&sortby')) {
				url = (url.split('&sortby')[0]);
			}

			return url;
		}


	</script>
}
